<!-- refer to the boilerplate layout -->
<% layout('./layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <!-- offset3 能让这个div处于12个单位的正中间 -->
        <div class="col-6 offset-3">

            <form action="/campgrounds/<%= campground._id %>?_method=put" method="post">
                <div class="mb-3">
                    <!-- id is used for label, name is used for req.param in js -->
                    <!-- form-label and form-control is important -->
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%= campground.title %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        value="<%= campground.location %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]"
                        value="<%= campground.image %>">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00"
                            value="<%= campground.price %>" aria-describedby="price-label">
                    </div>
                </div>

                <div class="mb-3">
                    <!-- description use textarea to allow expand -->
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"><%= campground.description %> 
                    </textarea>
                </div>
                <!-- button -->
                <div class="mb-3">
                    <button class="btn btn-success">Update Campground</button>
                </div>

            </form>
            <!-- back button to all canpgrounds-->
            <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
        </div>
    </div>