<!-- refer to the boilerplate layout -->
<% layout('./layouts/boilerplate') %>

    <h1>
        <%= campground.title %>
    </h1>
    <h2>
        <%= campground.location %>
    </h2>
    <img src="<%= campground.image %>" class="img-fluid" alt="">
    <p>
        <%= campground.description %>
    </p>
    <!-- Edit the campground -->
    <p>
        <a href="/campgrounds/<%= campground._id %>/edit ">Edit</a>
    </p>
    <!-- Delete the campground -->
    <p>
    <form action="/campgrounds/<%= campground._id %>?_method=delete" method="post">
        <button>Delete</button>
    </form>
    </p>

    <footer>
        <!-- return to all campgrounds -->
        <a href="/campgrounds">All Campgrounds</a>
    </footer>