<!-- refer to the boilerplate layout -->
<% layout('./layouts/boilerplate') %>

    <div class="row">

        <!-- 居中 -->
        <div class="col-6 offset-3">

            <!-- card template from bootstrap document -->
            <div class="card mb-5">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">

                    <!-- title -->
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>

                    <!-- description -->
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>

                <!-- list of texts -->
                <ul class="list-group list-group-flush">

                    <!-- location -->
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>

                    <!-- price -->
                    <li class="list-group-item">
                        $<%= campground.price %> / night
                    </li>
                </ul>

                <!-- second card-body -->
                <div class="card-body">
                    <!-- edit is a button-like anchor -->
                    <a class="card-link btn btn-warning" href="/campgrounds/<%= campground._id %>/edit ">Edit</a>

                    <!-- delete is a button-like form -->
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=delete" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer">

                    <!-- return to all campgrounds -->
                    <a href="/campgrounds">All Campgrounds</a>
                </div>
            </div>

            <h2>Leave a Review</h2>

            <!-- form for review, 此时依旧在居中-->
            <form action="">

                <!-- review rating part -->
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">

                </div>

                <!-- review body part -->
                <div class="mb-3">
                    <!-- label 和form都用bootstrap -->
                    <label class="form-label" for="body">Review</label>
                    <!-- 同样wrap在req.body.review中 -->
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="10"></textarea>
                </div>

                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>